@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    box-sizing: border-box;
    font-family: 'nunito, sans serif';
    text-align: center;
}

body {
    display: block;
    background: goldenrod;
}

h1 {
    font-size: 2rem;
    font-style: italic;
    margin: auto;
    text-align: center;
}

#hero-image {
    background-image: url(../Images/cussyeah2.png);
    height: 35vh;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

#gif {
    background-image: url(../Images/cussGif.gif);
    /*display: none;*/
}