@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
* {
    box-sizing: border-box;
    font-family: 'nunito, sans serif';
    text-align: center;
}

body {
    display: block;
    background: goldenrod;
}

h1 {
    font-size: 2rem;
    font-style: italic;
    margin: auto;
    text-align: center;
}

#hero-image {
    background-image: url(../Images/cussyeah2.png);
    height: 35vh;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

/*#gif {
    background-image: url(../Images/cussGif.gif);
    height: 35vh;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
    /*display: none;
}*/

#last-image {
    background-image: url(../Images/BBB.png);
    height: 35vh;
    background-repeat: no-repeat;
    margin-left: auto;
    margin-right: auto;
    background-position: center;
}

#like {
    display: block;
    width: 15em;
    height: 20vh;
    margin: 0 auto;
    background: url(..//Images/cussGif.gif) 0 0 no-repeat;
    background-size: 90%;
    animation: like-gif steps(5) 1s infinite both;
}

#pause {
    animation-play-state: paused;
}

@keyframes like-gif {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}